.git
.gitignore
.env
.env.*
!.env.example

node_modules
vendor

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!database/database.sqlite

npm-debug.log*
yarn-debug.log*
yarn-error.log*

Dockerfile
docker-compose.yml
docker-compose.yaml

.idea
.vscode

.phpunit.result.cache
.phpunit.cache

tests
